* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.alert {
  width: 100%;
  border: 1px solid #ddd;
  background: #c5172e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert__icon {
  width: 20px;
}

.loader {
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-dark {
  border: 4px solid #000 !important;
  border-bottom-color: transparent !important;
}

.loader__btn {
  width: 25px;
  height: 25px;
}

.loader__screen {
  width: 48px;
  height: 48px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ephesis {
  font-family: 'Ephesis', cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main-header {
  min-height: 90px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.gap-5 {
  gap: 50px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.brand-name {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #fff;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-list li a {
  padding: 6px 10px;

  color: #333;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}

.only-for-mobile {
  display: none;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.action-button__bordered {
  border-radius: 40px;
  background: white;
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.action-button__bordered_danger {
  border-radius: 40px;
  background: white;
  border: 2px solid red;
  padding: 10px 20px;
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.action-button__bordered_danger:hover {
  border-radius: 40px;
  background: red;
  border: 2px solid red;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.action-button__bordered:hover {
  background: black;
  color: white;
}

.action-button__icon {
  width: 17px;
}

.action-button__filled {
  border-radius: 40px;
  background: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.action-button__filled_danger {
  border-radius: 40px;
  background: red;
  border: 2px solid red;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.action-button__filled:disabled {
  opacity: 0.5;
}

.action-button__bordered:disabled {
  opacity: 0.5;
}

.transition {
  transition:
    width 300ms,
    height 300ms,
    background-color 300ms,
    rotate 300ms;
}

/* Auth Form */
.form-control {
  margin: 20px auto;
  width: 50%;
}

.form-control button[type='submit'] {
  width: 100%;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  padding: 14px 20px;
}

.form-control .action-button__bordered {
  width: 100%;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.form-control__btn {
  border-radius: 5px;
  background: white;
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.form-control__btn:hover {
  background: black;
  color: white;
}

.form-control__btn__filled {
  border-radius: 5px;
  background: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.form-control__header {
  margin-bottom: 2rem;
}

.form-control__heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-control__input-group {
  margin: 15px 0;
}

.form-control__input-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control__input-group input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__input-group input:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

.form-control__input-group textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__input-group textarea:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

/* StoryCard */
.story-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 20px;
}

.story-card {
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  transition: box-shadow 300ms ease;
  text-decoration: none;
}

.story-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.story-card__title {
  color: #9c9797;
}

.story-card__description {
  color: #000;
}

.story-card__image {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.story-card__items__container {
  display: flex;
  gap: 2rem;
}

.story-card__image img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Story Detail */
.story-detail {
  width: 50%;
}
.story-detail__image {
  border-radius: 15px;
  overflow: hidden;
}
.story-detail__image img {
  width: 100%;
  height: 100%;
}

.story-detail__item {
  margin: 2rem 0;
}

.story-detail__title {
  color: #9c9797;
  margin-bottom: 0.6rem;
}

.story-detail__description {
  color: #000;
}

.story-detail__map {
  height: 400px;
  width: 100%;
}

/* Maps */
.form-control__location__container {
  height: auto;
  margin-bottom: 3rem;
}

.form-control__title {
  margin-bottom: 1rem;
  display: block;
}

.form-control__location__container small {
  color: rgb(114, 114, 114);
}

.form-control__location__maps {
  height: 400px;
  width: 100%;
}

.form-control__location_latlng {
  display: flex;
  margin: 1rem 0;
  gap: 10px;
}

.form-control__location_latlng input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__location_latlng input:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

/* Camera */
.form-control__document__container {
  margin-bottom: 2rem;
}

.form-control__document__container label {
  margin-bottom: 10px;
  display: block;
}

.form-control__camera__container {
  display: none;
  margin-top: 1rem;
}
.new-form__camera__canvas {
  height: 100px;
}
.camera__open {
  display: block !important;
}

.form-control__document__input {
  margin-top: 1rem;
  display: none;
}

.form-control__btn:disabled {
  opacity: 0.5;
}

.form-control__btn:hover:disabled {
  background: unset;
  color: black;
}

.document__open {
  display: block !important;
}

.form-control__camera__tools_buttons {
  margin-top: 15px;
}

.form-control__camera__tools select {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__camera__tools select:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

/* Write your styles more here */

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .drawer-button {
    display: none;
  }
}

@media only screen and (max-width: 1048px) {
  .story-detail {
    width: 100%;
  }
  .form-control {
    margin: 30px auto;
    width: 100%;
  }
  .container {
    padding-inline: 20px;
  }

  .only-for-mobile {
    display: block;
  }

  .hidden-at-mobile {
    display: none;
  }

  .action-button__filled {
    padding: 7px 15px;
  }

  .action-button__bordered {
    padding: 7px 15px;
  }
}
