* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}
::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

.my {
  margin: 2rem 0;
}

.loading-stories {
  background-color: #fff;
  width: 200px;
  height: 150px;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
  margin: 5px;
}

.top-gap {
  margin-top: 2rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.alert {
  width: 100%;
  border: 1px solid #ddd;
  background: #c5172e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert__warning {
  width: 100%;
  border: 1px solid rgb(255, 255, 42);
  background: rgb(247, 255, 27);
  padding: 10px;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert__info {
  width: 100%;
  border: 1px solid rgb(145, 202, 255);
  background: rgb(232, 244, 255);
  padding: 10px;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert__icon {
  width: 20px;
}

.loader {
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-dark {
  border: 4px solid #000 !important;
  border-bottom-color: transparent !important;
}

.loader__btn {
  width: 25px;
  height: 25px;
}

.loader__screen {
  width: 48px;
  height: 48px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ephesis {
  font-family: 'Ephesis', cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main-header {
  min-height: 90px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: #09ab7d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.gap-5 {
  gap: 50px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navigation-drawer {
  min-height: 100vh;
  width: 80%;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;
  color: #fff;

  cursor: pointer;
}

.nav-list__title_drawer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.nav-list__title_drawer span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.nav-list__title_drawer button {
  border: none;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.nav-list li a {
  padding: 6px 10px;
  font-size: 1rem;

  color: #fff;
  text-decoration: none;
  font-weight: 200;
}

.nav-list li a:hover {
  text-decoration: underline;
}

/* MAIN */
.main-content {
  padding: 20px;
}

.only-for-mobile {
  display: none;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.action-button__bordered {
  border-radius: 40px;
  background: transparent;
  border: 2px solid #09ab7d;
  padding: 10px 20px;
  text-decoration: none;
  color: #09ab7d;
  cursor: pointer;
}

/* .action-button__bordered_danger {
  border-radius: 40px;
  background: white;
  border: 2px solid red;
  padding: 10px 20px;
  text-decoration: none;
  color: red;
  cursor: pointer;
} */

.action-button__bordered_danger {
  border-radius: 40px;
  background: rgba(255, 70, 70, 0.716);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.action-button__bordered_danger:hover {
  border-radius: 40px;
  background: rgba(255, 39, 39, 0.929);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.action-button__bordered:hover {
  background: #09ab7d;
  color: white;
}

.action-button__icon {
  width: 17px;
}

.action-button__filled {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}

.green-button {
  background: #09ab7d !important;
  border: none !important;
}
.green-button:hover {
  background: #08966e !important;
  border: none !important;
}

.action-button__filled:hover {
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px;
}
.action-button__filled:hover span {
  transform: rotate(360deg);
  transition: all 1s;
}

.action-button__filled_danger {
  border-radius: 40px;
  background: red;
  border: 2px solid red;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.action-button__filled:disabled {
  opacity: 0.5;
  background-color: #08966e;
}

.action-button__bordered:disabled {
  opacity: 0.5;
  background-color: #08966e;
}

.notification-button {
  border-radius: 40px;
  border: none;
  padding: 13px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.notification-button__green {
  background: rgba(255, 255, 255, 0.3);
}
.notification-button__red {
  background: rgb(255, 62, 62);
}

.notification-button__icon {
  width: 17px;
  margin: 0;
}

.notification-button:disabled {
  opacity: 0.5;
}

.notification-button span {
  display: none;
  margin-left: 10px;
}

.notification-button:hover span {
  display: block;
}

.transition {
  transition:
    width 300ms,
    height 300ms,
    background-color 300ms,
    rotate 300ms;
}

/* Auth Form */
.form-control {
  margin: 20px auto;
  width: 50%;
}

.form-control button[type='submit'] {
  width: 100%;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  padding: 14px 20px;
}

.form-control .action-button__bordered {
  width: 100%;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.form-control__btn {
  border-radius: 5px;
  background: white;
  border: 2px solid #09ab7d;
  padding: 10px 20px;
  text-decoration: none;
  color: #09ab7d;
  cursor: pointer;
}

.form-control__btn:hover {
  background: #09ab7d;
  color: white;
}

.form-control__btn__filled {
  border-radius: 5px;
  background: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.form-control__header {
  margin-bottom: 2rem;
}

.form-control__heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-control__input-group {
  margin: 15px 0;
}

.form-control__input-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control__input-group input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__input-group input:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

.form-control__input-group textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__input-group textarea:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

/* StoryCard */
.story-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;
  gap: 20px;
}

.story-card {
  background: rgba(255, 255, 255);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  transition: box-shadow 300ms ease;
  text-decoration: none;
}

.story-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.story-card__title {
  color: #9c9797;
}

.story-card__description {
  color: #000;
}

.story-card__image__user {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #ddd;
  /* border: 1px solid #fff; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px 10px;
  color: #000;
  /* border-top-left-radius: 10px; */
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.story-card__image__user svg {
  display: flex;
  align-items: center;
  width: 15px;
}

.story-card__date {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #000;
}

.story-card__image {
  position: relative;
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.story-card__summary {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #000;
}

.story-card__items__container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.story-card__image img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Story Detail */
#story-detail-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.story-detail__image {
  width: 50%;
}
.story-detail-description {
  width: 50%;
}

.story-detail {
  width: 100%;
}
.story-detail__image {
  border-radius: 15px;
  overflow: hidden;
}

.story-detail__image h2 {
  margin-bottom: 1rem;
}
.story-detail__image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.story-detail__item {
  margin: 2rem 0;
}

.story-detail__title {
  color: #9c9797;
  margin-bottom: 0.6rem;
}

.story-detail__description {
  color: #000;
}

.story-detail__map {
  height: 400px;
  width: 100%;
}

/* Maps */
.form-control__location__container {
  height: auto;
  margin-bottom: 3rem;
}

.form-control__title {
  margin-bottom: 1rem;
  display: block;
}

.form-control__location__container small {
  color: rgb(114, 114, 114);
}

.form-control__location__maps {
  height: 400px;
  width: 100%;
}

.form-control__location_latlng {
  display: flex;
  margin: 1rem 0;
  gap: 10px;
}

.form-control__location_latlng input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__location_latlng input:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

/* Camera */
.form-control__document__container {
  margin-bottom: 2rem;
}

.form-control__document__container label {
  margin-bottom: 10px;
  display: block;
}

.form-control__camera__container {
  display: none;
  margin-top: 1rem;
}
.new-form__camera__canvas {
  height: 100px;
}
.camera__open {
  display: block !important;
}

.form-control__document__input {
  margin-top: 1rem;
  display: none;
}

.form-control__btn:disabled {
  opacity: 0.5;
}

.form-control__btn:hover:disabled {
  background: unset;
  color: black;
}

.document__open {
  display: block !important;
}

.form-control__camera__tools_buttons {
  margin-top: 15px;
}

.form-control__camera__tools select {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control__camera__tools select:focus {
  background: rgb(249, 249, 249);
  outline-style: solid;
  outline-color: #000;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: auto;
  height: auto;
  padding: 1rem;
  background: black;
  color: white;
  z-index: 1000;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

footer {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
  flex-direction: column;
}

footer a {
  color: #000;
}

#pin-story-button {
  font-size: 1rem;
  padding: 10px 20px;
}
.pinned-story {
  background: rgb(61, 216, 0) !important;
  color: #fff !important;
  border: none;
}

.pinned-empty {
  color: rgb(155, 155, 155);
}

/* Not Found */
.story-not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
}
.story-not-found__title {
  font-size: 10rem;
  opacity: 0.5;
}

/* Write your styles more here */
@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
    margin-top: 0;
  }

  .drawer-button {
    display: none;
  }
}

@media only screen and (max-width: 1048px) {
  .brand-name {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  ::view-transition-old(root) {
    animation:
      fade-out 90ms cubic-bezier(0.4, 0, 1, 1) both,
      slide-to-left 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }
  ::view-transition-new(root) {
    animation:
      fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both,
      slide-from-right 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }
  .story-list {
    display: grid;
    grid-template-columns: auto;
    margin-top: 2rem;
    gap: 20px;
  }
  .notification-button:hover span {
    display: none;
  }
  .story-detail {
    width: 100%;
  }
  .form-control {
    margin: 30px auto;
    width: 100%;
  }
  .container {
    padding-inline: 20px;
  }

  .only-for-mobile {
    display: block;
  }

  .hidden-at-mobile {
    display: none;
  }

  .action-button__filled {
    padding: 7px 15px;
  }

  .action-button__bordered {
    padding: 7px 15px;
  }

  .nav-list li a {
    font-size: 2rem;
  }

  .story-detail__image {
    width: 100%;
  }
  .story-detail-description {
    width: 100%;
  }

  #story-detail-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
